<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Kittens</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
    <form class="four-oh-four-form">
        <input type="text" class="404-input">
    </form>

    <div class="terminal">
        <p class="prompt">The page you requested cannot be found right now. Try at 12:00.</p>
        <p class="prompt output new-output"></p>
    </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js'></script>
<script src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>
